<h1>Listing anglers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Boat num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anglers.each do |angler| %>
  <tr>
    <td><%= angler.name %></td>
    <td><%= angler.boat_num %></td>
    <td><%= link_to 'Show', angler %></td>
    <td><%= link_to 'Edit', edit_angler_path(angler) %></td>
    <td><%= link_to 'Destroy', angler, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Angler', new_angler_path %>
